<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="XIMCloud Blog Project">
    <meta name="author" content="usamimizugi">
    <link rel="icon" th:href="@{favicon.ico}">

    <title>XIMCloud blog - Powerd by SpringBoot2.0</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{css/justified-nav.css}" rel="stylesheet">
    <script th:src="@{js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{js/bootstrap.js}"></script>
</head>

<body>

<div class="container">

    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="masthead">
        <h3 class="text-muted" th:text="${lang.getUserList().get(1)}">Project name</h3>
        <nav>
            <ul class="nav nav-justified">
                <li class="active"><a href="#" th:text="${lang.getUserList().get(2)}">Home</a></li>
                <li><a href="#" th:text="${lang.getUserList().get(3)}">Projects</a></li>
                <li><a href="#" th:text="${lang.getUserList().get(4)}">Services</a></li>
                <li><a href="#" th:text="${lang.getUserList().get(5)}">Downloads</a></li>
                <li><a href="#" th:text="${lang.getUserList().get(6)}">About</a></li>
                <li><a href="#" th:text="${lang.getUserList().get(7)}">Contact</a></li>
            </ul>
        </nav>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>XIMCloud Blog Project</h1>
        <p class="lead">一个比较Low的基于SpringBoot2.0 + BootStrap 的项目博客</p>
        <p><a class="btn btn-lg btn-success" href="blog" role="button">访问 usamimizugi 的博客</a></p>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h2>Safari bug warning!</h2>
            <p class="text-danger">As of v9.1.2, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
            <p>Donec admin_id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Heading</h2>
            <p>Donec admin_id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum admin_id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <!-- Site footer -->
    <footer class="footer">
        <p>&copy; XIMCloud.</p>
    </footer>

</div> <!-- /container -->
</body>
</html>
