<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->

<!-- Footer -->
<footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix" th:fragment="footer">
    <div class="pull-right">
        Powered <i class="fa fa-heart text-city"></i> by <a class="font-w600" href="https://spring.io/" target="_blank">SpringBoot2.0</a>
    </div>
    <div class="pull-left">
        <a class="font-w600" href="http://goo.gl/6LF10W" target="_blank">OneUI 3.1</a> &copy; <span class="js-year-copy"></span>
    </div>
</footer>
<!-- END Footer -->
</html>