<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:include="admin/header :: header('XIMCloud Blog Install ')"></head>
<body class="bg-image" style="background-image: url('/assets/img/photos/photo6@2x.jpg');">


<div class="col-lg-1 col-lg-offset-5  col-md-offset-4 col-sm-offset-4 col-xs-offset-2" style="top: 50px">
    <img th:src="@{/img/ximcloud-fin.png}">
</div>
<div class="col-lg-6 col-lg-offset-3" style="top: 50px">
    <!-- Simple Classic Progress Wizard (.js-wizard-simple class is initialized in js/pages/base_forms_wizard.js) -->
    <!-- For more examples you can check out http://vadimg.com/twitter-bootstrap-wizard-example/ -->
    <div class="js-wizard-simple block">
        <!-- Step Tabs -->
        <ul class="nav nav-tabs nav-justified">
            <li class="active">
                <a href="#simple-classic-progress-step1" data-toggle="tab" aria-expanded="true">1. 安装之前...</a>
            </li>
            <li class="">
                <a href="#simple-classic-progress-step2" data-toggle="tab" aria-expanded="false">2. 网站设置</a>
            </li>
            <li class="">
                <a href="#simple-classic-progress-step3" data-toggle="tab" aria-expanded="false">3. 管理员设置</a>
            </li>
            <li class="">
                <a href="#simple-classic-progress-step4" data-toggle="tab" aria-expanded="false">4. 接近完成！</a>
            </li>
        </ul>
        <!-- END Step Tabs -->

        <!-- Form -->
        <form class="form-horizontal" action="/admin/XIMCloudBlogSetting" method="post">
            <!-- Steps Progress -->
            <div class="block-content block-content-mini block-content-full border-b">
                <div class="wizard-progress progress progress-mini remove-margin-b">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 33.3333%;"></div>
                </div>
            </div>
            <!-- END Steps Progress -->

            <!-- Steps Content -->
            <div class="block-content tab-content">
                <!-- Step 1 -->
                <div class="tab-pane fade fade-up push-30-t push-50 active in" id="simple-classic-progress-step1">
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <label>欢迎使用XIMCloud Blog!</label>
                            <p>在开始前，我们需要您数据库的一些信息。请准备好如下信息。</p>
                            <p>我们会使用这些信息来创建一个用户。	<strong>如果自动创建未能成功，不用担心，您要做的只是将数据库信息填入配置文件。您也可以自行操作数据库，填入您的信息，并将其另存为。</strong></p>
                            <p>绝大多数时候，您的网站服务提供商会给您这些信息。如果您没有这些信息，在继续之前您将需要联系他们。如果您准备好了…</p>
                        </div>
                    </div>
                </div>
                <!-- END Step 1 -->
                <!-- Step 2 -->
                <div class="tab-pane fade fade-up push-30-t push-50" id="simple-classic-progress-step2">
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <label for="simple-classic-progress-website-name">站点标题</label>
                            <input class="form-control" type="text" id="simple-classic-progress-website-name" name="name" placeholder="Please enter your websitename">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <label for="simple-classic-progress-domain">域名</label>
                            <input class="form-control" type="text" id="simple-classic-progress-domain" name="domain" placeholder="Please enter your domain">
                        </div>
                    </div>
                </div>
                <!-- END Step 2 -->

                <!-- Step 3 -->
                <div class="tab-pane fade fade-up push-30-t push-50" id="simple-classic-progress-step3">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <label for="simple-classic-progress-email">电子邮箱</label>
                                <input class="form-control" type="text" id="simple-classic-progress-email" name="email" placeholder="Please enter your email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <label for="simple-classic-progress-password">密码</label>
                                <input class="form-control" type="password" id="simple-classic-progress-password" name="password" placeholder="Please enter your password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <label for="simple-classic-progress-repassword">验证密码</label>
                                <input class="form-control" type="password" id="simple-classic-progress-repassword" name="repassword" placeholder="Please enter your password">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Step 3 -->

                <!-- Step 4 -->
                <div class="tab-pane fade fade-up push-30-t push-50" id="simple-classic-progress-step4">
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <label>接近完成！</label>
                            <p>在开始前，您必须同意以下文字。</p>
                            <P><strong>张财源牛逼！张财源牛逼！张财源牛逼！</strong></P>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <label class="css-input switch switch-sm switch-primary" for="simple-classic-progress-terms">
                                <input type="checkbox" id="simple-classic-progress-terms" name="terms"><span></span> Agree with the <a data-toggle="modal" data-target="#modal-terms" href="#">terms</a>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- END Step 4 -->
            </div>
            <!-- END Steps Content -->

            <!-- Steps Navigation -->
            <div class="block-content block-content-mini block-content-full border-t">
                <div class="row">
                    <div class="col-xs-6">
                        <button class="wizard-prev btn btn-default disabled" type="button"><i class="fa fa-arrow-left"></i> Previous</button>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button class="wizard-next btn btn-default" type="button" style="display: inline-block;">Next <i class="fa fa-arrow-right"></i></button>
                        <button class="wizard-finish btn btn-primary" type="submit" style="display: none;"><i class="fa fa-check"></i> Submit</button>
                    </div>
                </div>
            </div>
            <!-- END Steps Navigation -->
        </form>
        <!-- END Form -->
    </div>
    <!-- END Simple Classic Progress Wizard -->
</div>

<!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
<div th:include="admin/footer :: footer"></div>

<!-- Page JS Plugins -->
<script th:src="@{/assets/js/plugins/jquery-countdown/jquery.countdown.min.js}"></script>

<!-- Page JS Code -->
<script th:src="@{/assets/js/pages/base_pages_coming_soon.js}"></script>

<!-- Page JS Plugins -->
<script th:src="@{/assets/js/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js}"></script>
<script th:src="@{/assets/js/plugins/jquery-validation/jquery.validate.min.js}"></script>

<!-- Page JS Code -->
<script th:src="@{/assets/js/pages/base_forms_wizard.js}"></script>
</body>
</html>