<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:include="admin/header :: header('Profile Edit')"></head>

<body>
        <!-- Page Container -->
        <!--
            Available Classes:

            'enable-cookies'             Remembers active color theme between pages (when set through color theme list)

            'sidebar-l'                  Left Sidebar and right Side Overlay
            'sidebar-r'                  Right Sidebar and left Side Overlay
            'sidebar-mini'               Mini hoverable Sidebar (> 991px)
            'sidebar-o'                  Visible Sidebar by default (> 991px)
            'sidebar-o-xs'               Visible Sidebar by default (< 992px)

            'side-overlay-hover'         Hoverable Side Overlay (> 991px)
            'side-overlay-o'             Visible Side Overlay by default (> 991px)

            'side-scroll'                Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (> 991px)

            'header-navbar-fixed'        Enables fixed header
        -->
        <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
            <!-- Side Overlay-->
            <!--/*@thymesVar id="admincontroller" type="cn.ximcloud.blog.ximcloudblog.domain.Admin"*/-->
            <aside id="side-overlay" th:include="admin/dashboard_side-overlay :: side-overlay(${admin.getAdminName()})"></aside>
            <!-- END Side Overlay -->

            <!-- Sidebar -->
            <nav th:include="admin/dashboard_sidebar :: nav" th:id="sidebar"></nav>
            <!-- END Sidebar-->


            <!-- Header -->
            <!--/*@thymesVar id="profilesettings" type="cn.ximcloud.blog.ximcloudblog.controller.admincontroller.AdminController"*/-->
            <header id="header-navbar" class="content-mini content-mini-full" th:include="admin/dashboard_header :: header(${1},${profilesettings})"></header>
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Content -->
                <div class="content content-boxed">
                    <!-- User Header -->
                    <div class="block">
                        <!-- Basic Info -->
                        <div class="bg-image" style="background-image: url('/assets/img/photos/photo3@2x.jpg');">
                            <div class="block-content bg-primary-op text-center overflow-hidden" style="background-color: rgba(62, 74, 89, 0.15)">
                                <div class="push-30-t push animated fadeInDown">
                                    <img class="img-avatar img-avatar96 img-avatar-thumb" th:src="@{/assets/img/avatars/avatar10.jpg}" alt="">
                                </div>
                                <div class="push-30 animated fadeInUp">
                                    <!--/*@thymesVar id="admincontroller" type="cn.ximcloud.blog.ximcloudblog.domain.Admin"*/-->
                                    <h2 class="h4 font-w600 text-white push-5" th:text="${admin.getAdminName()}">Ronald George</h2>
                                    <!--/*@thymesVar id="admin_info" type="cn.ximcloud.blog.ximcloudblog.domain.AdminInfo"*/-->
                                    <h3 class="h5 text-white-op" th:text="${admin_info.getAdmin_job()}">Web Designer</h3>
                                </div>
                            </div>
                        </div>
                        <!-- END Basic Info -->
                    </div>
                    <!-- END User Header -->

                    <!-- Main Content onsubmit="return false;"-->
                    <form action="/admin/profile_edit" method="put" enctype="multipart/form-data">
                        <div class="block">
                            <ul class="nav nav-tabs nav-justified push-20" data-toggle="tabs">
                                <li class="active">
                                    <a href="#tab-profile-personal"><i class="fa fa-fw fa-pencil"></i> Personal</a>
                                </li>
                                <li>
                                    <a href="#tab-profile-password"><i class="fa fa-fw fa-asterisk"></i> Password</a>
                                </li>
                                <li>
                                    <a href="#tab-profile-privacy"><i class="fa fa-fw fa-lock"></i> Privacy</a>
                                </li>
                            </ul>
                            <div class="block-content tab-content">
                                <!-- Personal Tab -->
                                <div class="tab-pane fade in active" id="tab-profile-personal">
                                    <div class="row items-push">
                                        <div class="col-sm-6 col-sm-offset-3 form-horizontal">
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <label>ID</label>
                                                    <!--/*@thymesVar id="admincontroller" type="cn.ximcloud.blog.ximcloudblog.domain.Admin"*/-->
                                                    <div class="form-control-static font-w700" th:text="${admin.getId()}">Admin</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <label>Email Address</label>
                                                    <!--/*@thymesVar id="admincontroller" type="cn.ximcloud.blog.ximcloudblog.domain.Admin"*/-->
                                                    <div class="form-control-static font-w700" th:text="${admin.getEmail()}">Admin</div>
                                                </div>
                                            </div>
                                            <!--<div class="form-group">-->
                                                <!--<div class="col-xs-12">-->
                                                    <!--<label for="profile-icon">头像</label>-->
                                                    <!--<input class="form-control input-lg" type="file" id="profile-icon" name="profile_icon" accept="image/gif, image/jpeg , image/png">-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <label for="profile-name">Admin name</label>
                                                    <!--/*@thymesVar id="admincontroller" type="cn.ximcloud.blog.ximcloudblog.domain.Admin"*/-->
                                                    <input class="form-control input-lg" type="text" id="profile-name" name="profile_name" placeholder="Enter your name" th:value="${admin.getAdminName()}" value="usamimizugi">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <label for="profile-job">Job</label>
                                                    <!--/*@thymesVar id="admin_info" type="cn.ximcloud.blog.ximcloudblog.domain.AdminInfo"*/-->
                                                    <input class="form-control input-lg" type="text" id="profile-job" name="profile_job" placeholder="Enter your Job" th:value="${admin_info.getAdmin_job()}" value="sb">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <label for="profile-firstname">Firstname</label>
                                                    <!--/*@thymesVar id="admin_info" type="cn.ximcloud.blog.ximcloudblog.domain.AdminInfo"*/-->
                                                    <input class="form-control input-lg" type="text" id="profile-firstname" name="profile_firstname" placeholder="Enter your firstname.." th:value="${admin_info.getFirstName()}" value="John">
                                                </div>
                                                <div class="col-xs-6">
                                                    <label for="profile-lastname">Lastname</label>
                                                    <!--/*@thymesVar id="admin_info" type="cn.ximcloud.blog.ximcloudblog.domain.AdminInfo"*/-->
                                                    <input class="form-control input-lg" type="text" id="profile-lastname" name="profile_lastname" placeholder="Enter your lastname.." th:value="${admin_info.getLastName()}" value="Doe">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <label for="profile-bio">Bio</label>
                                                    <!--/*@thymesVar id="admin_info" type="cn.ximcloud.blog.ximcloudblog.domain.AdminInfo"*/-->
                                                    <textarea class="form-control input-lg" id="profile-bio" name="profile_bio" rows="15" placeholder="Enter a few details about yourself.." th:text="${admin_info.getBio()}">Hi there, welcome to my profile! I'm a web designer and I love creating stuff that solve problems and make your life easier. Feel free to follow me to know more about me and my projects. Thanks for stopping by, wish you a great day!</textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-6">
                                                    <label for="profile-city">Where do you live?</label>
                                                    <!--/*@thymesVar id="admin_info" type="cn.ximcloud.blog.ximcloudblog.domain.AdminInfo"*/-->
                                                    <input class="form-control input-lg" type="text" id="profile-city" name="profile_city" placeholder="Enter your location.." th:value="${admin_info.getCity()}">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="profile-age">Age</label>
                                                    <!--/*@thymesVar id="admin_info" type="cn.ximcloud.blog.ximcloudblog.domain.AdminInfo"*/-->
                                                    <input class="form-control input-lg" type="text" id="profile-age" name="profile_age" placeholder="Enter your age.." th:value="${admin_info.getAge()}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12">Gender</label>
                                                <div class="col-xs-12">
                                                    <label class="css-input css-radio css-radio-primary push-10-r">
                                                        <input type="radio" name="profile_gender_group"><span></span> Female
                                                    </label>
                                                    <label class="css-input css-radio css-radio-primary">
                                                        <input type="radio" name="profile_gender_group" checked><span></span> Male
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Personal Tab -->

                                <!-- Password Tab -->
                                <div class="tab-pane fade" id="tab-profile-password">
                                    <div class="row items-push">
                                        <div class="col-sm-6 col-sm-offset-3 form-horizontal">
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <label for="profile-password">Current Password</label>
                                                    <input class="form-control input-lg" type="password" id="profile-password" name="profile_password">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <label for="profile-password-new">New Password</label>
                                                    <input class="form-control input-lg" type="password" id="profile-password-new" name="profile_password_new">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <label for="profile-password-new-confirm">Confirm New Password</label>
                                                    <input class="form-control input-lg" type="password" id="profile-password-new-confirm" name="profile_password_new_confirm">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Password Tab -->

                                <!-- Privacy Tab -->
                                <div class="tab-pane fade" id="tab-profile-privacy">
                                    <div class="row items-push">
                                        <div class="col-sm-6 col-sm-offset-3 form-horizontal">
                                            <div class="form-group">
                                                <div class="col-xs-8">
                                                    <div class="font-s13 font-w600">Online Status</div>
                                                    <div class="font-s13 font-w400 text-muted">Show your status to all</div>
                                                </div>
                                                <div class="col-xs-4 text-right">
                                                    <label class="css-input switch switch-sm switch-primary push-10-t">
                                                        <input type="checkbox" name="online_status"><span></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <hr>
                                            <!--<div class="form-group">-->
                                                <!--<div class="col-xs-8">-->
                                                    <!--<div class="font-s13 font-w600">Auto Updates</div>-->
                                                    <!--<div class="font-s13 font-w400 text-muted">Keep up to date</div>-->
                                                <!--</div>-->
                                                <!--<div class="col-xs-4 text-right">-->
                                                    <!--<label class="css-input switch switch-sm switch-primary push-10-t">-->
                                                        <!--<input type="checkbox"><span></span>-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<hr>-->
                                            <!--<div class="form-group">-->
                                                <!--<div class="col-xs-8">-->
                                                    <!--<div class="font-s13 font-w600">Notifications</div>-->
                                                    <!--<div class="font-s13 font-w400 text-muted">Do you need them?</div>-->
                                                <!--</div>-->
                                                <!--<div class="col-xs-4 text-right">-->
                                                    <!--<label class="css-input switch switch-sm switch-primary push-10-t">-->
                                                        <!--<input type="checkbox" checked><span></span>-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<hr>-->
                                            <!--<div class="form-group">-->
                                                <!--<div class="col-sm-8">-->
                                                    <!--<div class="font-s13 font-w600">API Access</div>-->
                                                    <!--<div class="font-s13 font-w400 text-muted">Enable/Disable access</div>-->
                                                <!--</div>-->
                                                <!--<div class="col-sm-4 text-right">-->
                                                    <!--<label class="css-input switch switch-sm switch-primary push-10-t">-->
                                                        <!--<input type="checkbox" ><span></span>-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                                <!-- END Privacy Tab -->
                            </div>
                            <div class="block-content block-content-full bg-gray-lighter text-center">
                                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-check push-5-r"></i> Save Changes</button>
                                <button class="btn btn-sm btn-warning" type="reset"><i class="fa fa-refresh push-5-r"></i> Reset</button>
                            </div>
                        </div>
                    </form>
                    <!-- END Main Content -->
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            <footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix" th:include="admin/dashboard_footer :: footer"></footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        <!-- Apps Modal -->
        <div class="modal fade" id="apps-modal" tabindex="-1" role="dialog" aria-hidden="true" th:include="admin/dashboard_Apps :: apps"></div>
        <!-- END Apps Modal -->

        <div th:include="admin/footer :: footer"></div>
    </body>
</html>